<p>Hello, I am your coach, what did you want to tell me?</p>
<form action="/answer" data-turbo="false">
  <input type="text" name="question" placeholder="Come on...">
  <input type="submit" value="Tell!">
</form>
